# Python cache
__pycache__/
*.py[cod]

# SQLite database
db.sqlite3

# VS Code
.vscode/

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db

#virtual environment
venv/
env/
myenv/

tests.py
